@model Restaurant.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Change Password</h3>
<hr/>
@if (ViewBag.message != null)
{
    <span class="field-validation-error">@ViewBag.message</span>
}

@using (Html.BeginForm("SavePassword", "User", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(u => u.Id)

    <div class="form-group">
        @Html.LabelFor(u => u.Password)
        @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.PasswordConfirm)
        @Html.PasswordFor(u => u.PasswordConfirm, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.PasswordConfirm)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

