@model Restaurant.ViewModels.MenuItemFormViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit Menu Item</h3>
<hr />

@if (ViewBag.message != null)
{
    <span class="field-validation-error">@ViewBag.message</span>
}

@using (Html.BeginForm("Save", "Menu", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(i => i.MenuItemTypeId)
    @Html.HiddenFor(i => i.Id)

    <div class="form-group">
        @Html.LabelFor(i => i.Name)
        @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.Price)
        @Html.TextBoxFor(i => i.Price, new { @class = "form-control", type = "number", min = 0.00, max = 100, step = ".01" })
        @Html.ValidationMessageFor(i => i.Price)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

