@model Restaurant.ViewModels.MenuViewModel
@{
    ViewBag.Title = "Place Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <h2>Place Order</h2>
    @if (Session["serverName"] != null)
    {
        <span>Server: @Session["serverName"].ToString()</span>
    }
</div>

@using (Html.BeginForm("PlaceOrder", "Order", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <h3>Appetizers</h3>
        </div>
        @for (var i = 0; i < Model.Appetizers.Count; i++)
        {
            <div class="col-md-2 text-center">
                <p>@Model.Appetizers[i].Name</p>
                <p>@Model.Appetizers[i].Price</p>
                @Html.LabelFor(m => m.Appetizers[i].Quantity)
                @Html.TextBoxFor(m => m.Appetizers[i].Quantity, new { @type = "number", @class = "form-control" })
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <h3>Entrees</h3>
        </div>
            
        @for (var i = 0; i < Model.Entrees.Count; i++)
        {
            <div class="col-md-2 text-center">
                <p>@Model.Entrees[i].Name</p>
                <p>$@Model.Entrees[i].Price</p>
                @Html.LabelFor(m => m.Entrees[i].Quantity)
                @Html.TextBoxFor(m => m.Entrees[i].Quantity, new { @type = "number", @class = "form-control" })
            </div>
        }         
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <h3>Sides</h3>
        </div>
        @for (var i = 0; i < Model.Sides.Count; i++)
        {
            <div class="col-md-2 text-center">
                <p>@Model.Sides[i].Name</p>
                <p>@Model.Sides[i].Price</p>
                @Html.LabelFor(m => m.Sides[i].Quantity)
                @Html.TextBoxFor(m => m.Sides[i].Quantity, new { @type = "number", @class = "form-control" })
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <h3>Desserts</h3>
        </div>
        @for (var i = 0; i < Model.Desserts.Count; i++)
        {
            <div class="col-md-2 text-center">
                <p>@Model.Desserts[i].Name</p>
                <p>@Model.Desserts[i].Price</p>
                @Html.LabelFor(m => m.Desserts[i].Quantity)
                @Html.TextBoxFor(m => m.Desserts[i].Quantity, new { @type = "number", @class = "form-control" })
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <h3>Drinks</h3>
        </div>
        @for (var i = 0; i < Model.Sides.Count; i++)
        {
            <div class="col-md-2 text-center">
                <p>@Model.Drinks[i].Name</p>
                <p>@Model.Drinks[i].Price</p>
                @Html.LabelFor(m => m.Drinks[i].Quantity)
                @Html.TextBoxFor(m => m.Drinks[i].Quantity, new { @type = "number", @class = "form-control" })
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-block btn-primary">Place Order</button>
        </div>
    </div>
}