<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jeddy's</title>
    <style type="text/css">.server-name { }</style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <span class="navbar-brand">Jeddy's Bistro</span>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("New Order", "NewOrder", "Order")</li>
                    <li>@Html.ActionLink("Order History", "OrderHistory", "Order")</li>
                    <li>@Html.ActionLink("Servers", "Users", "User")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Session["serverName"] != null)
                        {
                            <p class="server-name">Server: @Session["serverName"].ToString()</p>
                        }
                    </li>
                    <li>@Html.ActionLink("Change Password", "ChangePassword", "User")</li>
                    <li>@Html.ActionLink("Log Off", "LogOff", "User")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/order-page.js")
    @RenderSection("scripts", required: false)
</body>
</html>
